* {box-sizing:border-box; margin:0; padding:0}

.main{
	font-size:20px;
	line-height:1.35;
	color:#333;
	font-family:sans-serif;
	display:block;
	width:100%;
	max-width:800px;
	min-width:530px;
	margin:0 auto;
	padding:10px 70px;
	background:#fdfde5;
	position:relative;
}

/* local blocks */
.color_info{color:#f00}
.color_info2{color:#07f}

.color_teg{color:#F00}
.color_prop{color:#009}
.color_val{color:#07f}

.color_f{color:#f00}    /* FireFox*/
.color_o{color:#E01E45} /* Opera */
.color_g{color:#009}    /* GoogleChrome */

.addPlace{padding:30px 0; height:0; line-height:0; font-size:0}
.addhr{
	height:3px;
	width:80%;
	margin:100px auto;
	background:#000;
	border:none;
	outline:none;
}
.addhr_last{margin-bottom:50px}
.local-link{
	border-bottom:1px solid;
	color:#00c;
	text-decoration:none;
}




/* section */
.main__section{margin:80px 0 100px}
.main__section:last-of-type{margin-bottom:20px}
.main__section p{margin:0 0 10px; text-align:justify;}
.main__section p:first-letter{padding-left:24px}
.main__section samp{
	background:#e8e8e8;
	background:rgba(232, 232, 232, .8);
	border-radius:4px;
	padding:0 4px;
	line-height:1.1;
	display:inline-block;
}




/* navigation */
.main__nav{
	position:fixed;
	right:4px; top:0;
	z-index:5;
	display:block;
	text-align:center;
	font-size:16px;
	opacity:.2;
	transition:.3s;
}
.main__nav:hover,.main__nav:focus{opacity:1; transition:.3s;}
.main__nav__item{
	display:block;
	padding:14px 5px;
	margin:5px 0;
	background:#ec7;
	width:58px;
	max-width:58px;
	overflow:hidden;
	color:#333;
	text-decoration:none;
}
.main__nav__item:hover,.main__nav__item:focus{background:#ca5}




/* header */
.main__header{min-height:180px; position:relative}
.main__header a{color:#E01E45; text-decoration:none}
.main__header__head{
	letter-spacing:1.3px;
	font-weight:600;
	margin:24px 0 40px;
	text-align:center;
	font-size:clamp(20px, 2vw + 12px, 32px);
}
.main__header__autor{
	position:absolute;
	top:130px;
	font-size:16px;
	color:#555;
}




/* подсветка при переходе по документу */
:target.target .target__hidden{
	padding-left:4px;
	padding-right:4px;
	font-size:inherit;
	opacity:1;
	transition:opacity .5s;
}
:target.target{
	background:#ccfecc;
	transition:.5s;
}
.target__hidden{
	font-size:0;
	line-height:0;
	opacity:0;
	color:red;
	text-decoration:none;
	padding-left:0;
	padding-right:0;
	background:rgba(190, 246, 250, .6);
}




/* флаги */
.main__flag{display:none}
.main__flag__label{
	font-size:10px;
	display:inline-block;
	position:absolute;
	top:165px;
	filter:grayscale(60%);
	transition:.2s;
	cursor:pointer;
	box-shadow:0 0 3px 1px #aaa;
	width:69px; height:45px;
	background:#00f;
	z-index:6;
}
/* ru */
.main__flag__label_ru{
	right:150px;
	background:linear-gradient(180deg, #fff, #fff 14.8px, #00f 15.2px, #00f 30px, #f00 30.4px, #f00 45px);
}
/* usa */
.main__flag__label_en{
	right:70px;
	background:repeating-linear-gradient(180deg, #c00, #c00 3.5px, #fff 3.5px, #fff 7px);
}
.main__flag__label_en::before{
	z-index:7;
	content:'';
	display:block;
	width:32px;
	height:24.4px;
	background:#008;
	position:absolute;
	top:0;
	left:0;
}
.main__flag__label_en::after{
	z-index:8;
	content:'';
	display:block;
	width:32px;
	height:22.5px;
	position:absolute;
	top:.65px;
	left:0.35px;
	background:radial-gradient(#fff 1px, transparent 1px);
	background-size:3.9px 3.9px;
	background-repeat:repeat;
}




/* translate zone */
.main *[lang]{display:none}
.main__flag_ru:checked ~ * *[lang='ru']{display:block}
.main__flag_en:checked ~ * *[lang='en']{display:block}
.main__flag_ru:checked + .main__flag__label_ru{filter:grayscale(0); transition:.2s; cursor:auto}
.main__flag_en:checked + .main__flag__label_en{filter:grayscale(0); transition:.2s; cursor:auto}




/* ul li */
.list{margin:15px 0 60px; padding:0 0 10px 25px}
.list_mt0{margin-top:0}
.list li{margin:5px 0; text-align:justify;}




/* table */
	.tableBox__caption{
		font-family:monospace;
		font-size:20px;
		padding-left:4px;
		margin-top:30px;
		color:#E01E45;
		font-style:normal;
	}
	.tableBox__box-table-scroll {
		overflow:auto;
		height:60vh;
		background:#fffacd;
	}

	/* base table \\<table class="tt-0">*/
	.tt-0{border-collapse:collapse}
	.tt-0 th, .tt-0 td{text-align:center; vertical-align:middle; border:1px solid #222}
	.tt-0 th{height:60px; min-width:150px}
	.tt-0 td{height:100px}

	/* scroll table 1.1 \\<table class="tt-0 tt-1">*/
	.tt-1 th{position:sticky; top:0}
	.tt-1 tr td:nth-child(1){position:sticky; left:0}
	.tt-1 th, .tt-1 td{border-width:10px}

	/* scroll table 1.2 \\<table class="tt-0 tt-1 tt-2">*/
	.tt-2 th{background:#b0e0e6}
	.tt-2 td{background:#fffacd}
	.tt-2 tr td:nth-child(1){background:#f0e68c}

	/* scroll table 1.3 \\<table class="tt-0 tt-1 tt-2 tt-3">*/
	.tt-3 th{z-index:3}
	.tt-3 tr th:nth-child(1){left:0; z-index:4; background:#5F9EA0}
	.tt-3 tr td:nth-child(1){z-index:2}
	.tt-3 th, .tt-3 td{border:none}

	/* scroll table 1.4 \\<table class="tt-0 tt-1 tt-2 tt-3 tt-4">*/
	.tt-4 td{box-shadow:inset -1px -1px 0 #000}
	.tt-4 tr td:nth-child(1){box-shadow:inset -1px -1px 0 #000, inset 1px 0 0 #000}
	.tt-4 th{box-shadow:inset -1px -1px 0 #000, inset 0 1px 0 #000}
	.tt-4 tr th:nth-child(1){box-shadow:inset -1px -1px 0 #000, inset 1px 1px 0 #000}

	/* scroll table 1.5 \\<table class="tt-5">*/
	.tt-5 {border-collapse:collapse; border:solid transparent; border-width:0 .5px .5px 0}
	.tt-5 th, .tt-5 td {text-align:center; vertical-align:middle; box-shadow:inset -1px -1px 0 #000; border:none}
	.tt-5 tbody:nth-child(1){position:sticky; top:0; z-index:3; background:#b0e0e6}
	.tt-5 tr:nth-child(1) th {box-shadow:inset -1px -1px 0 #000, inset 0 1px 0 #000}
	.tt-5 tr:nth-child(1) th:nth-child(1) {position:sticky; left:0; z-index:4; background:#5F9EA0;
		box-shadow:inset -1px -1px 0 #000, inset 1px 1px 0 #000}
	.tt-5 td {background:#fffacd}
	.tt-5 tr td:nth-child(1) {position:sticky; left:0; z-index:2; background:#f0e68c;
		box-shadow:inset -1px -1px 0 #000, inset 1px 0 0 #000}

	/* scroll table 1.6 \\<table class="tt-5 tt-6">*/
	.tt-6 tbody:nth-child(1){position:static}
	.tt-6 th{position:sticky; background:#b0e0e6; top:0}
	.tt-6 tr:nth-child(2) th {top:60px}
/* \\table zone */




/* <pre><code> zone */
.codeZone{
	font-size:.9em;
	line-height:1.3;
	letter-spacing:-1px;

	padding:2px 8px 5px;
	margin:30px 0;
	background:#eee;
	border:1px solid #aaa;
	border-radius:5px;
}
.codeZone_o{overflow-x:auto}
.codeZone code{padding:.25em 0 .15em}

.codeZone__onclick{
	cursor:pointer;
	color:#e01e45;
	display:inline-block;
	font-weight:600;
	font-family:monospace;
	letter-spacing:.5px;
	outline:none;
	font-size:1.2em;
	padding:5px 5px 5px 0;
}
.codeZone__onclick:hover,
.codeZone__onclick:focus{color:#a01a45}

.codeZone__hidden_t{
	transition:.2s;
	overflow-x:auto;
	font-size:.95em;
	line-height:1.1;
	letter-spacing:-.5px;
}
.codeZone__hidden{
	opacity:0;
	font-size:0;
	line-height:0;
}
.codeZone__comment{
	font-size:1.1em;
	font-style:italic;
	text-align:justify;
	line-height:1.3;
}
.codeZone__comment__link{
	border-bottom:1px solid;
	color:#E01E45;
	font-family:monospace;
	font-style:normal;
	text-decoration:none;
}
.codeZone__newCSS{
	background:rgba(176, 238, 176, .6);
	font-style:normal;
}
.codeZone__mark{
	padding:5px 10px 2px;
	font-style:italic;
	font-size:1.1em;
	font-family:serif;
	letter-spacing:.5px;
}
.codeZone__mark samp{
	background:#ffffff;
	font-style:normal;
	font-size:.9em;
}
.codeZone__list{margin:0 0 0 24px; padding:0}
.codeZone__list li{margin:0; text-align:justify}



/* pict. with border - in table v1.4 */
.pickBorder{
	display:flex;
	width:100%;
	justify-content:space-around;
	margin:60px 0 100px;
}
.pickBorder__item{
	min-width:80px;
	min-height:80px;
	width:13vw;
	height:13vw;
	max-width:150px;
	max-height:150px;
	background:#eee;
	position:relative;
	border:2px solid #000;
	text-align:center;
}

.pickBorder__item:nth-child(1){border-width:0 2px 2px 0}
.pickBorder__item:nth-child(2){border-width:0 2px 2px 2px}
.pickBorder__item:nth-child(3){border-width:2px 2px 2px 0}

.pickBorder__item::after{
	position:absolute;
	top:105%;
	content:'a';
	text-align:center;
	font-size:18px;
	display:block;
	width:100%;
}
.pickBorder__item:nth-child(2)::after{content:'b'}
.pickBorder__item:nth-child(3)::after{content:'c'}
.pickBorder__item:nth-child(4)::after{content:'d'}

.pickBorder__item__link{
	line-height:clamp(78px, 12.5vw, 150px);
	width:100%;
	height:100%;
	margin:auto;
	background:transparent;
	display:block;
}




.aside{
	max-width:800px;
	padding:30px 70px 0;
	margin:70px auto 0;
	background:#f5fff0;
}
.aside__frame{
	border:none;
	width:calc(100% + 40px);
	max-width:840px;
	height:1165px;
	margin:0 -20px;
	background:transparent;
}
