* {box-sizing:border-box; margin:0; padding:0}
*:focus {outline:0;}

.main {
	font-size: 20px;
	line-height: 1.35;
	color: #333;
	font-family: sans-serif;
	display: block;
	width: 100%;
	max-width: 1100px;
	min-width: 530px;
	margin: 0 auto;
	padding: .5em 3.5em;
	position: relative;
	text-align:justify;
}
.main p {margin: 0 0 .5em}
.main p:first-letter {padding-left: 1.2em}

.section {margin: 3em 0 4em}
.main .section:first-of-type {margin-top: 1em}
.main .section:last-of-type {margin-bottom: 1em}

.header {
	letter-spacing: 1.3px;
	font-weight: 600;
	margin: 1.2em 0 2em;
	text-align: center;
	font-size: clamp(20px, 2vw + 12px, 32px);
}

/* ul li */
.list {margin:.5em 0 3em; padding:0 0 .5em 1.25em}
.list_mt0 {margin-top: 0}
.list li {margin: .25em 0}




/* local text blocks */
.color {
	background: #e8e8e8;
	background: rgba(232, 232, 232, .8);
	border-radius: .2em;
	padding: 0 .2em .1em;
	line-height: 1;
	display: inline-block;
}
.color_info {color: #f00}
.color_info2 {color: #07f}
.color_teg {color: #F00}
.color_prop {color: #009}
.color_val {color: #07f}
.color_f {color: #f00}    /* FireFox*/
.color_o {color: #E01E45} /* Opera */
.color_g {color: #009}    /* GoogleChrome */
.red {color: #f00}
.sin {color: #009}
.lsin {color: #07f}
.ls-1 {letter-spacing: -1px}
.mt15 {margin-top: 1.5em}





/* черта */
.hr {
	height: 3px;
	width: 80%;
	margin: 5em auto;
	background: black;
	border: none;
	outline: none;
}





/* table's zone */
.box-caption {
	font-family: monospace;
	font-style: normal;
	padding-left: .2em;
	margin-top: 1.5em;
	color: #E01E45;
}
.box-scroll {
	overflow: auto;
	height: 60vh;
	max-height: 400px;
}




/* base table */
.base-table {border-collapse:collapse; background: #fffacd;}
.base-table th, .base-table td {text-align:center; vertical-align:middle; border:1px solid}
.base-table th {height:2.5em; min-width:6em}
.base-table td {height:3em}




/* scroll table */
.scroll_table {
	border-collapse:collapse; border:solid transparent; border-width:0 .1px .1px 0;
	position:relative;
	--th_bg-color: #b0e0e6;
	--th1_bg-color: #5F9EA0;
	--td_bg-color: #fffacd;
	--td1_bg-color: #f0e68c;
	--border-size: 1px;
	--border-size-n: -1px;
	--border-color: #000;
}
.scroll_table th, .scroll_table td {text-align:center; vertical-align:middle; border:none}
.scroll_table th {background: var(--th_bg-color)}
.scroll_table tr th:nth-child(1) {background: var(--th1_bg-color)}
.scroll_table td {background: var(--td_bg-color)}
.scroll_table tr td:nth-child(1) {background: var(--td1_bg-color)}
.scroll_table th {height:2.5em; min-width:6em}
.scroll_table td {height:3em}

.scroll_table th {
	position:sticky; top:0; z-index:3;
	/* box-shadow:inset -1px -1px 0 #000, inset 0 1px 0 #000; */
	box-shadow:inset var(--border-size-n) var(--border-size-n) 0 var(--border-color), inset 0 var(--border-size) 0 var(--border-color);
}
.scroll_table tr th:nth-child(1) {
	left:0; z-index:4;
	/* box-shadow:inset -1px -1px 0 #000, inset 1px 1px 0 #000; */
	box-shadow:inset var(--border-size-n) var(--border-size-n) 0 var(--border-color), inset var(--border-size) var(--border-size) 0 var(--border-color);
}

.scroll_table td {
	/* box-shadow: inset -1px -1px 0 #000; */
	box-shadow: inset var(--border-size-n) var(--border-size-n) 0 var(--border-color);
}
.scroll_table tr td:nth-child(1) {
	position:sticky; left:0; z-index:2;
	/* box-shadow:inset -1px -1px 0 #000, inset 1px 0 0 #000; */
	box-shadow:inset var(--border-size-n) var(--border-size-n) 0 var(--border-color), inset var(--border-size) 0 0 var(--border-color);
}





/* scroll table 1.5 \\<table class="tt-5">*/
.tt-5 {border-collapse:collapse; background: #fffacd; border:solid transparent; border-width:0 .1px .1px 0}
.tt-5 th {height:2.5em; min-width:6em}
.tt-5 td {height:4em}
.tt-5 th, .tt-5 td {text-align:center; vertical-align:middle; box-shadow:inset -1px -1px 0 #000; border:none}
.tt-5 thead {position:sticky; top:0; z-index:3; background:#b0e0e6}
.tt-5 tr:nth-child(1) th {box-shadow:inset -1px -1px 0 #000, inset 0 1px 0 #000}
.tt-5 tr:nth-child(1) th:nth-child(1)  {position:sticky; left:0; z-index:4; background:#5F9EA0; box-shadow:inset -1px -1px 0 #000, inset 1px 1px 0 #000;}
.tt-5 td {background: #fffacd}
.tt-5 tr td:nth-child(1) {position:sticky; left:0; z-index:2; background:#f0e68c; box-shadow:inset -1px -1px 0 #000, inset 1px 0 0 #000;}

/* scroll table 1.6 \\<table class="tt-5 tt-6">*/
.tt-6 thead {position: static}
.tt-6 th {position:sticky; background:#b0e0e6; top:0}
.tt-6 tr:nth-child(2) th {top: 50px}




/* <pre><code> zone */
.codeZone {
	color: #333;
	background: #eee;
	font-size: .85em;
	line-height: 1.1;
	letter-spacing: -0.5px;
	tab-size: 2;
	overflow-x: auto;
	overflow-y: hidden;
	margin: .5em 0;
	padding: .1em .4em .25em;
	border: 1px solid #aaa;
	border-radius: .25em;
}
.codeZone pre, .codeZone code {padding: 0}
.codeZone__btn {
	cursor: pointer;
	color: #e01e45;
	background: #ccc;
	font-size: 1.2em;
	font-weight: 600;
	font-family: monospace;
	letter-spacing: 1px;
	padding: 5px 3px 5px 5px;
	margin: 3px 0 0 -3px;
	border-radius:4px;
	border: none;
	outline: none;
}
.codeZone__text {
	margin-top:.3em;
	transition: .2s;
	overflow-x: auto;
	overflow-y: hidden;
	font-size: .95em;
	line-height: 1.1;
	letter-spacing: -.5px;
}
.codeZone__hidden {
	opacity: 0;
	font-size: 0;
	line-height: 0;
}





/* pict. with border */
.pickBorder {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 1.5em 0 1.5em;
}
.pickBorder__item {
	min-width: 4em;
	min-height: 4em;
	width: 13vw;
	height: 13vw;
	max-width: 7.5em;
	max-height: 7.5em;
	background: #eee;
	position: relative;
	border: 2px solid #000;
	text-align: center;
}

.pickBorder__item:nth-child(1) {border-width: 0 2px 2px 0}
.pickBorder__item:nth-child(2) {border-width: 0 2px 2px 2px}
.pickBorder__item:nth-child(3) {border-width: 2px 2px 2px 0}

.pickBorder__item::after {
	display: block;
	content: 'a';
	position: absolute;
	top: 105%;
	text-align: center;
	font-size: .9em;
	width: 100%;
}
.pickBorder__item:nth-child(2)::after {content: 'b'}
.pickBorder__item:nth-child(3)::after {content: 'c'}
.pickBorder__item:nth-child(4)::after {content: 'd'}





/* оформление таблицы поддержки браузерами */
@font-face {
	font-family: fontello;
	src:
		url(../font/fontello.woff2) format("woff2"),
		url(../font/fontello.woff) format("woff"),
		url(../font/fontello.ttf) format("truetype"),
		url(../font/fontello.svg) format("svg");
	font-weight:400; font-style:normal;
}
.t-edge::after {content:'\e82b';}
.t-chrome::after {content:'\e804';}
.t-opera::after {content:'\e812';}
.t-safari::after {content:'\e811';}
.t-firefox::after {content:'\e816';}
.t-android::after {content:'\e80a';}

.support {background:#c5efc5; color:#222; border:0; border-collapse:collapse; font-size:1.2em}
.support td {width:2.65em; padding:.4em .1em; font-family:fontello; text-align:center; border:1px solid #aaa;}
.support td:nth-last-child(4) {border-left: 2px solid #333}
.support tr:nth-child(1) {background-color:#fbfbc3}
.support tr:nth-child(2) span::before {content:'\e81b'; padding-right:3px; color:#586;}
